body{
    background-color: rgb(128, 128, 128);
}

.title{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);    
}

button{
    width: 100px;
    height: 35px;
    font-size: medium;
    border-color: rgb(52, 90, 92);
    background-color: rgb(95, 158, 160);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button.homepage{
    height: 325px;
    width: 500px;
    font-size: 100px;
}
a{
    text-decoration: none;
    color: black;
}